USE [master]
GO
/****** Object:  Database [Banka]    Script Date: 11.4.2015 19:21:05 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Banka.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Banka_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  User [izo]    Script Date: 11.4.2015 19:21:05 ******/
CREATE USER [izo] FOR LOGIN [izo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [abc]    Script Date: 11.4.2015 19:21:05 ******/
CREATE USER [abc] FOR LOGIN [abc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [izo]
GO
ALTER ROLE [db_owner] ADD MEMBER [abc]
GO
/****** Object:  Table [dbo].[Hesaplar]    Script Date: 11.4.2015 19:21:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hesaplar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[HesapNo] [varchar](10) NOT NULL,
	[Bakiye] [money] NOT NULL,
	[AcilisTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Hesaplar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 11.4.2015 19:21:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Musteriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TCKNo] [char](11) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[DoğumTarihi] [date] NOT NULL,
	[EklenmeTarihi] [datetime] NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Hesaplar] ON 

INSERT [dbo].[Hesaplar] ([ID], [MusteriID], [HesapNo], [Bakiye], [AcilisTarihi], [AktifMi]) VALUES (2, 2, N'123', 0.0000, CAST(0x0000A47700C1CC21 AS DateTime), 1)
INSERT [dbo].[Hesaplar] ([ID], [MusteriID], [HesapNo], [Bakiye], [AcilisTarihi], [AktifMi]) VALUES (3, 2, N'456', 900.0000, CAST(0x0000A47700C28EF3 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Hesaplar] OFF
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([ID], [TCKNo], [Ad], [Soyad], [DoğumTarihi], [EklenmeTarihi]) VALUES (2, N'12345678902', N'İzzet', N'Bozoğlu', CAST(0xD2040B00 AS Date), CAST(0x0000A47700BC7E50 AS DateTime))
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Hesaplar_1]    Script Date: 11.4.2015 19:21:05 ******/
ALTER TABLE [dbo].[Hesaplar] ADD  CONSTRAINT [IX_Hesaplar_1] UNIQUE NONCLUSTERED 
(
	[HesapNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Musteriler]    Script Date: 11.4.2015 19:21:05 ******/
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [IX_Musteriler] UNIQUE NONCLUSTERED 
(
	[TCKNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [NonClusteredIndex-20150411-113003]    Script Date: 11.4.2015 19:21:05 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20150411-113003] ON [dbo].[Musteriler]
(
	[TCKNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hesaplar] ADD  CONSTRAINT [DF_Hesaplar_AcilisTarihi]  DEFAULT (getdate()) FOR [AcilisTarihi]
GO
ALTER TABLE [dbo].[Hesaplar] ADD  CONSTRAINT [DF_Hesaplar_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_EklenmeTarihi]  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD  CONSTRAINT [FK_Hesaplar_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([ID])
GO
ALTER TABLE [dbo].[Hesaplar] CHECK CONSTRAINT [FK_Hesaplar_Musteriler]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD  CONSTRAINT [CK_Hesaplar] CHECK  (([Bakiye]>=(0)))
GO
ALTER TABLE [dbo].[Hesaplar] CHECK CONSTRAINT [CK_Hesaplar]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [CK_Musteriler_TCKNo_Kontrol] CHECK  ((CONVERT([bigint],[TCKNo])%(2)=(0)))
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [CK_Musteriler_TCKNo_Kontrol]
GO
USE [master]
GO
